.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

@media screen and (max-width: 749px) {
  .related-products .grid {
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
  
  .related-products .grid__item {
    width: calc(50% - 0.75rem) !important;
    max-width: calc(50% - 0.75rem) !important;
  }
}
